@import "tailwindcss";

@font-face {
  font-family: "Martel Code";
  src: url("../public/fonts/MartelCode-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Martel Code";
  src: url("../public/fonts/MartelCode-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Martel Code Italic";
  src: url("../public/fonts/MartelCode-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #111515;
}
